.dataset*.jl
.hyperparams*.jl
*tsv
*le2.jl
*le3.jl
*le_SR.jl
*le2_SR.jl
*le3_SR.jl
outputs
*.csv
*.bak
*.bkup
performance*txt
*.out
trials*
**/__pycache__
build
dist
Manifest*.toml
*.cov
.coveralls.yml
**/*tmp*.jl
**/*tmp*.py
build
*.csv.out*
pysr_recorder.json
docs/src/index.md
*.code-workspace
.vscode
**/*.json
LocalPreferences.toml
git_contributions.py
z_test_react